<div class="login-container alternative">
    <div class="row">
        <form [formGroup]="form">
            <mat-card>
                <div class="header">
                    <mat-card-title>Login</mat-card-title>
                </div>
                <mat-card-content>
                    <div style="text-align: center; font-size: 12px;">
                        <p>Don't have an account? <span style="font-weight: bold; font-style: italic; cursor: pointer;" routerLink="../register">Create your account</span></p>
                    </div>
                    <mat-form-field>
                        <input matInput placeholder="Email" formControlName="email" type="email">
                    </mat-form-field>
                    <div class="invalid" *ngIf="clickedLogin=== true && form.get('email').invalid">
                        *Email is required
                    </div>
                    <mat-form-field>
                        <input matInput placeholder="Password" formControlName="password" type="password">
                    </mat-form-field>
                    <div class="invalid" *ngIf="clickedLogin=== true && form.get('email').invalid">
                        *Password is required
                    </div>
                </mat-card-content>
                    <div class="button-row">
                        <button mat-raised-button color="primary" (click)="loginButton(form.value)">Log In</button>
                    </div>
                </mat-card>
                <div class="invalid submit-error" *ngIf="hasError">
                {{ errorMessage }}
                </div>
                <div *ngIf="isLoading"  class="loading-indicator">
                <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
                </div>
            </form>
    </div>
    
</div>
  